@tailwind base;

@tailwind components;

@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.17rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.83rem;
}

h6 {
  font-size: 0.67rem;
}

hr {
  background-color: rgb(68, 68, 68);
  height: 1px;
  width: 80%;
}
